/* Header */
header{
    position: fixed;
    top: 0;
    width:100vw;
    background-color: #404c51;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s;
}
    
.progress-container {
    height: 10px;
    background: #eee9e2;
    border-radius: 10px;
}
    
/* The progress bar (scroll indicator) */
.progress-bar {
    height: 10px;
    background: #7ab700;
    width: 0%;
    border-radius: 10px ;
}

/* Header end*/

body {
    background-color: #fAf7f3;
    margin: 0;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100vw;
    transition: .1s all;
}

.box{
    display: flex;
    justify-content: space-between;
    transition: .1s all;
}
    
 /* Numbers */

 .num{
    background-color: #fff;
    border-radius: 1.5%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.11);
    font-family: Georgia, 'Source Serif Pro', serif;
    font-size: 60px;
    color: #000;
    text-align: center;
    vertical-align: middle;
    line-height: 100px; 
}

 /* Topic */

 #topic{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 250px;
    background-color: #6ca200;
    margin-bottom: 50px;
    transition: .1s all;
}

.subject{
    font-family: Georgia, 'Source Serif Pro', serif;
    color: #fff;
    text-align: center;
    background-color: #6ca200;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.center{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  
    overflow: hidden!important;
}

.subject:hover,
#history:hover,
#art:hover{
    background-color: #578300;
    transition-delay:.5s;
    transition: 1s background-color, .5s line-height;  
}

.subject:hover .align{
    transition: .5s all;
}

.subject:hover .center{
    align-items: flex-end;
}
.subject:hover .under{
    align-items: flex-end;
}

.under{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    overflow: hidden!important;
}

.cont{
    box-sizing: border-box;
}

.cont_arrow{
    width: 0px;
    position: relative;
    float: right;
    overflow: visible!important;
}

.subject:hover .cont_arrow{
    left: 0px;
    opacity: 1;
    transition: width .5s .5s, left .8s 1.3s;
}

.underline1{
    width: 0px;
    position: relative;
    float: right;
}

.arrow{
    height: 0px;
    width: 0px;
    transform: rotate(45deg);
    position: relative;
    float: right;
    margin-bottom: 0px;
    margin-right: 0px;
}

.subject:hover .arrow{
    opacity: 1;
    transition: all .5s  1.3s;
}

.subject:hover .underline{
    width: 0px;
    transition: .5s ;
}

.subject:hover .underline1{
    left: 0px;
    opacity: 1;
    transition: width .5s .5s, left .8s .8s;
}

#art{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}

.inline{
    display: flex;
    flex-direction: row;
    margin: 0;
}

#art b{
    font-weight: 900;
}

#history{
    font-style: italic;
    letter-spacing: -1.8px;
}

.align{
    margin-bottom: -22px;
    display: flex;
    flex-direction: row;
    cursor: default;
    transition: .5s all;
}
 
 /* Carousel */

 .swiper-parent {
     position: relative;
     width: 790px;	
 }

 .swiper-container{
    box-sizing: content-box;
 }

 .swiper-slide{
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.11);
}

.swiper-slide h6{
    font-family: Georgia, 'Source Serif Pro',serif;
    line-height: 25px;
    margin: 0;
}

.swiper-slide  p{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

.disabled{
    color: rgba(0, 0, 0, 0.1);
}

/* Checkbox */

#check{
    width: 90vw;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 15px;
    background-color:rgba(0, 0, 0, 0.04);
    border-radius: 2px;
    border: 1px solid #979797;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px 0;
    box-sizing: border-box;
    transition: .1s all;
    margin-bottom: 50px;
}

#check #bu{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    background-color: #fff;
    border: 1px solid #dcd7d0;
    border-radius: 1px;
    margin-top: 5px;
}

.container:hover input ~ .checkmark {
    background-color: rgba(0, 0, 0, 0.1);
}
  
.container input:checked ~ .checkmark {
    background-color: #7ab700;
}
  
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

  .container input:checked ~ .checkmark:after {
    display: block;
  }

.container .checkmark:after {
        border: solid white;
        border-width: 0 2.5px 2.5px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
}

 /* Media queries */

@media all and (max-device-width: 700px) {

header{
     height:100px;
    }
 
 .progress-container {
     width: 90vw;
}
 
  /* Header end*/
  
 #container{
     padding-top: 100px;
 }
 
 .box{
     width:100vw;
     flex-direction: column;
     align-items: center;    
 }
 
 /* Numbers */
 
 #section{
     margin-top: 6vh;
 }
 
 .num{
     height:16vh;
     width: 90vw;
     margin-bottom: 5vh;
     font-size: 9em;
     line-height: 14vh; 
     transition: .1s all;
 }
 
 .num:first-child{
     order:2;
     transition: .1s all;
 }
 
 .num:nth-child(3){
     order:1;
     transition: .1s all;
 }
 
 .num:nth-child(2){
     order:3;
     transition: .1s all;
 }
 
 /* Topic */
 
 #topic{
     flex-direction: column;
     align-items: center;
     height: 840px;
     width: 90vw; 
     margin: 0px 150px  100px 150px;
 }
 
 .subject{
     width: 440px;
     height: 420px;
 }
 
 .subject:first-child{
     border-bottom: 2px solid rgba(0, 0, 0, 0.1);
 }
 
 .center{
     width: 300px;
 }
 
 .cont{
     height: 200px;
     padding-top: 40px;
 }
 
 .cont_arrow{
     left: -300px;
 }
 
 .subject:hover .cont_arrow{
     width:600px;
 }
 
 .underline1{
     height:160px;
     border-top: 4px solid #fff;
     left: -300px;
 }
 
 .underline{
     height:160px;
     width: 300px;
     border-top: 4px solid #fff;
 }
 
 .arrow{
     border-top: 4px solid #fff;
     border-right: 4px solid #fff;
 }
 
 .subject:hover .arrow{
     margin-bottom: -24px;
     margin-right: 8px;
     height: 40px;
     width: 40px;
 }
 
 .subject:hover .underline1{
     width:600px;
 }
 
 #art{
    font-size: 100px;
}

#history{
    font-size: 95px;
}
 
 #history .inline{
   margin-bottom: 10px;
 }
 
 .align{
     justify-content: center;
     align-items: center;
     width: 300px;
 }
 
 /* Carousel */
 
 .swiper-parent {
     width: 90vw;	
     height: 600px;
 }
 
 .swiper-container{
     height: 580px;
     width: 90vw;
 } 
 
 .swiper-slide{
     height: 500px;
     background-color: #fff;
 }
 
 .swiper-slide h6{ 
     font-size: 20px;
 }
 
 .swiper-slide  p{
     font-size: 18px;
 }
 
 .swiper-button-prev,
 .swiper-button-next{
     display: none;
 }
 
 .swiper-pagination{
     left: calc((100vw - 100px) * 0.5);	
     margin-top: -22px;	
 }
 
 .swiper-pagination-bullet{
     margin-left: 10px;
     width: 15px;
     height: 15px;
 }
 
 .swiper-pagination-bullet-active{
     background-color: #84c00b;
 }
 
 /* Checkbox  */
 
 #check{
     margin-top: 50px;
 }
 
 .container {
     font-size: 40px;
}
 
.checkmark {
     left: -20px;
     height: 30px;
     width: 30px;
}
   

.container .checkmark:after {
     left: 10px;
     top: 5px;
     width: 5px;
     height: 10px;
   }
 
}
 
 
 @media all and (min-device-width: 701px) and (max-device-width: 1200px) {
 
     
 /* Header */
 header{
     height:70px;
 }
 
 .progress-container {
     width: 688px;
   }
 
 /* Header end*/
 
 #container{
     padding-top: 70px;
 }
 
 .box{
     width: 64vw;
     flex-direction: row;
     justify-content: space-between;
     margin: 50px 150px 100px 150px;
     transition: .1s all;
 }
 
 /* Numbers */
 
 #section{
     margin-top: 100px;
 }
 
 .num{
     height:100px;
     width: 20vw;
     margin: 0 2vw;
     font-size: 60px;
     line-height: 100px; 
     transition: .1s all;
 }
 
 /* Topic */
 
 #topic{
     flex-direction: row;
     align-items: center;
     height: 250px;
     width: 60vw; 
     margin: 0px 150px  100px 150px;
}
 
.subject{
     width: 220px;
     height: 210px;
}
 
.center{
     width: 150px;
}
 
.cont{
     height: 100px;
     padding-top: 20px;
}
 
.cont_arrow{
    left: -150px;
}
 
.subject:hover .cont_arrow{
     width:300px;
}
 
.underline1{
     height:80px;
     border-top: 2px solid #fff;
     left: -150px;
}
 
.underline{
    height:80px;
    width: 150px;
    border-top: 2px solid #fff;
}
 
.arrow{
    border-top: 2px solid #fff;
    border-right: 2px solid #fff; 
}
 
.subject:hover .arrow{
    margin-bottom: -12px;
    margin-right: 4px;
    height: 20px;
    width: 20px;
}

.subject:hover .underline1{
    width:300px;
}
 
#art{
    font-size: 67px;
}
 
#art b{
    padding-left: 2px;
}
 
#history{
    font-size: 55px;
}
 
#history .inline{
   margin-bottom: 5px;
}
 
 .align{
    justify-content: flex-start;
    align-items: flex-start;
    width: 150px;
}
 
/* Carousel */

.swiper-parent {
     width: 80vw;	
}
 
.swiper-container{
     width: 60vw;	
} 
 
.swiper-slide{
     height: 320px;
    margin: 50px 0 100px 0;
 }
 
 .swiper-slide h6{
     font-size: 18px;
 }
 
 .swiper-slide  p{
     font-size: 16px;
 }
 
 .swiper-button-prev,
 .swiper-button-next{
     color:  #7ab700 ;
     top: calc((100% - 50px) * 0.5);	
     margin-top: -22px;		
}
 
.swiper-pagination{
    display: none;
}
 
 /* Checkbox  */
 
 #check{
     margin-top: 0px;
}
 
 .container {
    font-size: 22px;
}
   
.checkmark {
     left: 0;
     height: 15px;
     width: 15px;
}

   .container .checkmark:after {
     left: 5px;
     top: 2.5px;
     width: 2.5px;
     height: 5px;
   } 

}
 
 @media  all and (min-device-width: 1201px) {
 
 /* Header */

 header{ 
    height:70px;
}

 .progress-container {
    width: 688px; 
}

 /* Header end*/

 #container{
    padding-top: 70px;
 }
 
 .box{ 
    width:690px;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px 0px;
}

#section{
    margin-top: 70px;
}

/* Numbers */
 
.num{
    height:100px;
    width: 210px;
    font-size: 60px;
    line-height: 100px; 
    transition: .1s all;
}
 
/* Topic */
 
 #topic{
    flex-direction: row;
    align-items: center;
    height: 250px;
 }

 .subject{
    width: 220px;
    height: 210px;
}

 .center{
    width: 150px;
}
 
.cont{
    height: 100px;
    padding-top: 20px;
}
 
 .cont_arrow{
    left: -150px;
 }

.subject:hover .cont_arrow{
    width:300px;
}

.underline1{
    height:80px;
    border-top: 2px solid #fff; 
    left: -150px;
}

.underline{
    height:80px;
    width: 150px;
    border-top: 2px solid #fff;
}

.arrow{
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
}
 
.subject:hover .arrow{
    margin-bottom: -12px;
    margin-right: 4px;
    height: 20px;
    width: 20px;
}
 
.subject:hover .underline1{
    width:300px;
}

#art{
    font-size: 67px;
}
 
#art b{
    padding-left: 2px;
}
 
#history{
    font-size: 55px;
}
 
#history .inline{
   margin-bottom: 5px;
}

.align{
    justify-content: flex-start;
    align-items: flex-start;
    width: 150px;
}

/* Carousel */
 
.swiper-parent {
    width: 790px;	
}

.swiper-container{
    width: 690px;	
} 
 
.swiper-slide{
    width:210px!important ;
    height: 290px;
    margin: 50px 0 100px 0;  
}
 
.swiper-slide h6{
    font-size: 18px;
}
 
.swiper-slide  p{
    font-size: 16px;
}
 
.swiper-button-prev,
.swiper-button-next{
    color:  #7ab700 ;
    top: calc((100% - 50px) * 0.5);	
    margin-top: -22px;		
} 

.swiper-pagination{
    display: none;
}

/* Checkbox */
 
#check{
    margin-top: 0px;
}

.container {
    font-size: 22px;
}

.checkmark {
    left: 0;
    height: 15px;
    width: 15px;
}
   
.container .checkmark:after {
    left: 5px;
    top: 2.5px;
    width: 2.5px;
    height: 5px;
}
 
}
 
 /* Fine media queries*/
 
 
 
